body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: #641e16;
  margin-bottom: 30px;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  margin-bottom: 20px;
  color: #641e16;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

input,
textarea {
  display: block;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-color: #fdedec;
  color: #641e16;
  margin: 0;
}

header {
  padding: 0 20px;
  background-color: #d5d8dc;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
header a {
  text-decoration: none;
}
header nav {
  display: none;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}
#brand h2 {
  color: #000;
  margin: 10px;
}

.logo-t {
  height: 37px;
  width: auto;
  display: flex;
  align-items: center;
}
.logo-t:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
ul a {
  color: #641e16;
}
ul a:hover {
  color: #ff4081;
}
ul li {
  padding: 5px;
  margin-left: 10px;
}
ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
  text-decoration: underline;
  color: #ffb6c1;
}

#hamburger-icon {
  margin: auto 0;
  display: block;
  cursor: pointer;
}
#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #641e16;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}
.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  background-color: #d5d8dc;
  opacity: 90%;
  top: 50px;
  left: 0;
  height: calc(40vh - 50px);
  width: 100%;
  z-index: 1;
}
.mobile-menu li {
  margin: 10px;
}

@media screen and (min-width: 768px) {
  header nav {
    display: block;
  }
  #hamburger-icon {
    display: none;
  }
}
:not(:defined) > * {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

model-viewer {
  width: 100%;
  height: 70%;
  background-color: #ffffff;
}

.Hotspot {
  background: url(../images/hotspot-heart.svg) center no-repeat;
  opacity: 0.9;
  border: 0;
  height: 30px;
  width: 50px;
}

.Hotspot:not([data-visible]) {
  opacity: 0;
  pointer-events: none;
}

.Hotspot:focus {
  border: 4px solid rgb(0, 128, 200);
  height: 32px;
  outline: none;
  width: 32px;
}

.Hotspot > * {
  opacity: 1;
  transform: translateY(-50%);
}

.HotspotAnnotation {
  visibility: hidden;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  left: calc(100% + 1em);
  max-width: 200px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: -moz-max-content;
  width: max-content;
}
.HotspotAnnotation p {
  color: #333;
  line-height: 20px;
  font-weight: 300;
  text-align: start;
  font-size: 12px;
  text-transform: inherit;
}
.HotspotAnnotation h3 {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: start;
}
.HotspotAnnotation img {
  margin: 5px 0;
  width: 40%;
}

model-viewer::part(:default-progress-bar) {
  height: 30px;
  background-color: #e89b36;
}

.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  background-image: url(ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #dadce0;
}

#ar-button:active {
  background-color: #e8eaed;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

@media screen and (min-width: 768px) {
  model-viewer {
    height: 80%;
  }
  .HotspotAnnotation {
    max-width: 300px;
  }
  .HotspotAnnotation img {
    max-width: 30%;
  }
  .HotspotAnnotation h3 {
    font-size: 22px;
  }
  .HotspotAnnotation p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  model-viewer {
    height: 90%;
  }
  .HotspotAnnotation {
    max-width: 400px;
  }
  .HotspotAnnotation img {
    max-width: 20%;
  }
  .HotspotAnnotation h3 {
    font-size: 26px;
  }
  .HotspotAnnotation p {
    font-size: 16px;
  }
}
#comparison-con {
  display: none;
}

@media screen and (min-width: 412px) {
  #mobile-tablet-view {
    display: none;
  }
  #comparison-con {
    display: block;
  }
  #xray {
    position: relative;
    aspect-ratio: 16/9;
    background-image: url(../images/earbuds-XRay.png);
    background-size: cover;
  }
  #divisor {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/earbuds.png);
    background-size: cover;
    height: 100%;
    width: 50%;
  }
  input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    top: -18px;
    left: -2%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 102%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-moz-range-track {
    height: 15px;
    width: 98%;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    outline: none;
  }
  input[type=range]::active {
    border: none;
    outline: none;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 15px;
    background: #fff;
    border-radius: 0;
  }
  input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 15px;
    background: #fff;
    border-radius: 0;
  }
  input[type=range]:focus::-webkit-slider-thumb {
    background: rgba(255, 255, 255, 0.5);
  }
  input[type=range]:focus::-moz-range-thumb {
    background: rgba(255, 255, 255, 0.5);
  }
}
.feature {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  left: calc(100% + 1em);
  max-width: 200px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  margin: 1em 0;
  top: 50%;
}
.feature p {
  color: #333;
  line-height: 20px;
  font-weight: 300;
  text-align: start;
  font-size: 12px;
  text-transform: inherit;
}
.feature h3 {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: start;
}
.feature img {
  margin: 5px 0;
  width: 40%;
}

@media screen and (min-width: 768px) {
  .feature {
    max-width: 300px;
  }
  .feature img {
    max-width: 35%;
  }
  .feature h3 {
    font-size: 22px;
  }
  .feature p {
    font-size: 14px;
    line-height: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .feature {
    max-width: 400px;
  }
  .feature img {
    max-width: 30%;
  }
  .feature h3 {
    font-size: 26px;
  }
  .feature p {
    font-size: 18px;
    line-height: 30px;
  }
}
body {
  background-color: #fdedec;
}/*# sourceMappingURL=main.css.map */