@use "fonts";

// Variables
$primary-color: #fdedec;
$secondary-color: #641e16;
$soft-pink-color: #ffb6c1;
$hot-pink-color: #ff4081;
$accent-color: #1f618d;
$lightGrayColor: #d5d8dc;
$darkGrayColor: #4a4a4a;
$heading-font-family: "Roboto", sans-serif;
$body-font-family: "Open Sans", sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
