@use "../abstracts" as a;
@use "../abstracts/variables" as v;

.feature {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  left: calc(100% + 1em);
  max-width: 200px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  margin: 1em 0;
  // position: absolute;
  top: 50%;
  // width: -moz-max-content;
  // width: max-content;

  p {
    color: #333;
    line-height: 20px;
    font-weight: 300;
    text-align: start;
    font-size: 12px;
    text-transform: inherit;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: start;
  }

  img {
    margin: 5px 0;
    width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .feature {
    max-width: 300px;

    img {
      max-width: 35%;
    }

    h3 {
      font-size: 22px;
    }

    p {
      font-size: 14px;
      line-height: 26px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    max-width: 400px;

    img {
      max-width: 30%;
    }

    h3 {
      font-size: 26px;
    }

    p {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
