#explode-view {
  max-width: 100%;
  /* width: 100vw; */
}

#welcome-text {
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  #welcome-text {
    margin-top: 30px;
    font-size: 30px;
  }
}

@media screen and (min-width: 1200px) {
  #welcome-text {
    margin-top: 40px;
    font-size: 36px;
  }
}
